<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITicketsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Tickets.Services/TicketsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketsService"
                contract="TicketsServiceReference.ITicketsService" name="BasicHttpBinding_ITicketsService" />
        </client>
    </system.serviceModel>
</configuration>