<div class="view modalContainer">

    <div class="container" ng-controller="EventEditController">
        <header>
            <h3><span class="glyphicon glyphicon-edit"></span>Event: {{name}}</h3>
        </header>
        <div ng-if="validationLoaded">
            <div aa-configured-form validation-config="formconfig" class="form-horizontal" ng-form="eventEdit">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Event Data</h4>
                        <br />
                    </div>
                </div>

                <input aa-field-group="model.Name" />
                <textarea aa-field-group="model.Description"></textarea>


                <div class="row">
                    <div class="col-md-12">
                        <h4>Tickets</h4>
                        <br />
                    </div>
                </div>
                <div class="gridContainer">
                    <table class="table table-striped table-bordered table-hover ng-scope">
                        <thead class="table table-striped table-bordered table-hover ng-scope">
                            <tr>
                                <th class="sorted ng-binding ng-scope">Name</th>
                                <th class="sorted ng-binding ng-scope">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ticket in model.tickets" ng-class-odd='odd' ng-class-even='even' bn-log-dom-creation>
                                <td>{{ticket.Name}}</td>
                                <td>{{ticket.Description}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <button ng-click="addTicket()" type="submit" class="btn btn-primary">Add new ticket</button>

                <div class="row">
                    <div class="col-md-12">
                        <h4>Sessions</h4>
                        <div class="gridContainer">
                            <table class="table table-striped table-bordered table-hover ng-scope">
                                <thead class="table table-striped table-bordered table-hover ng-scope">
                                    <tr>
                                        <th class="sorted ng-binding ng-scope">Name</th>
                                        <th class="sorted ng-binding ng-scope">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="session in model.sessions" ng-class-odd='odd' ng-class-even='even' bn-log-dom-creation>
                                        <td>{{session.Name}}</td>
                                        <td>{{session.Description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button ng-click="addSession()" type="submit" class="btn btn-primary" ng-disabled="model.tickets.length==0">Add new session</button>
                        <br />
                    </div>
                </div>
            </div>
            <button ng-click="$close()" type="submit" class="btn btn-secondary">Cancel</button>
            <button ng-click="save()" type="submit" class="btn btn-primary" ng-disabled="!eventEdit.$valid ">Create</button>
            <br />
        </div>
        </div>

    </div>


    <script type="text/ng-template" id="ticketEdit.html">
        <div class="view modalContainer">
            <div class="container" ng-controller="TicketEditController">
                <header>
                    <h3><span class="glyphicon glyphicon-edit"></span>Ticket: {{name}}</h3>
                </header>
                <div ng-if="validationLoaded" aa-configured-form validation-config="formconfig" class="form-horizontal" ng-form="ticketEdit">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Ticket Data</h4>
                            <br />
                        </div>
                    </div>

                    <input aa-field-group="model.Name" />
                    <input type="number" aa-field-group="model.Price"></input>
                    <textarea aa-field-group="model.Description"></textarea>

                    <button ng-click="$close()" type="submit" class="btn btn-secondary">Cancel</button>
                    <button ng-click="save()" type="submit" class="btn btn-primary" ng-disabled="!ticketEdit.$valid ">Create</button>
                    <br />
                </div>
            </div>
        </div>
    </script>


<script type="text/ng-template" id="sessionEdit.html">
    <div class="view modalContainer">
        <div class="container" ng-controller="TicketEditController">
            <header>
                <h3><span class="glyphicon glyphicon-edit"></span>Session: {{name}}</h3>
            </header>
            <div ng-if="validationLoaded">
                <div aa-configured-form validation-config="formconfig" class="form-horizontal" ng-form="sessionEdit">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Event Data</h4>
                            <br />
                        </div>
                    </div>

                    <input aa-field-group="model.Name" />
                    <!--input aa-field-group="model.DateStart" /-->
                    <datetimepicker aa-field-group="model.DateStart" min-date="minDate" hour-step="hourStep"
                                    minute-step="minuteStep" ng-model="model.DateStart" show-meridian="showMeridian"
                                    date-format="dd-MMM-yyyy" date-options="dateOptions"
                                    date-disabled="disabled(date, mode)"
                                    datepicker-append-to-body="false"
                                    readonly-date="false"
                                    hidden-time="false"
                                    hidden-date="false"
                                    name="datetimepicker"
                                    show-spinners="true"
                                    readonly-time="false"
                                    date-opened="dateOpened">
                        <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
                    </datetimepicker>

                    <datetimepicker aa-field-group="model.DateEnd" min-date="minDate" hour-step="hourStep"
                                    minute-step="minuteStep" ng-model="model.DateEnd" show-meridian="showMeridian"
                                    date-format="dd-MMM-yyyy" date-options="dateOptions"
                                    date-disabled="disabled(date, mode)"
                                    datepicker-append-to-body="false"
                                    readonly-date="false"
                                    hidden-time="false"
                                    hidden-date="false"
                                    name="datetimepicker"
                                    show-spinners="true"
                                    readonly-time="false"
                                    date-opened="dateOpened">
                        <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
                    </datetimepicker>


                    <textarea aa-field-group="model.Description"></textarea>
                    <input type="number" aa-field-group="model.Price"></input>
                    <input type="number" aa-field-group="model.SpacesAvailable"></input>

                    <button ng-click="$close()" type="submit" class="btn btn-secondary">Cancel</button>
                    <button ng-click="save()" type="submit" class="btn btn-primary" ng-disabled="!sessionEdit.$valid ">Create</button>
                    <br />
                </div>
            </div>
        </div>
    </div>
</script>

</div>
